<center><pre style="font: 8px/4px monospace;">                                                                                                                                                                       
                                                                                                                                                                       
                                                                                                                                                                       
                                                                                                                                                                       
                                                                                                                                                                       
                                                                                                                                                                       
                                                                                                                                                                       
                                                                                                                                                                       
                                                                                                 .''''';                                                               
                                                                                                ;+++++++':                                                             
                                                                                                +#+++##+#+                                                             
                                                                                              ,;+########+;:                                                           
                                                                                       `,;''+';+++##++##++''''''+:`                                                    
                                                                                 `;+++++''';''+'+'++#++++##+'''+++++++'                                                
                                                                             .++#+'+'+''''''+'''+++++++++++#+++''++++++++;                                             
                                                                          '##+'''+''''''''++'++++++++++++++++##+'+'+++++#++':                                          
                                                                       '+#+++'+'''''+''+'+'++++++++++++++++++++#++'+''+++++++';                                        
                                                                    `+#++++++'''+''''++'+'++++++++++++++++++++++##+++'+++++##++'+`                                     
                                                                  `+++++'++'''++'''++++++++++++++++++++++++++++++##+++++++++###++'+,                                   
                                                                 '+'+++'''''++''''++++++++++++++++++++++++++++#+####+++++++++####++++:                                 
                                                               '+''+++''++++'+'++++++#+++++++++++++++++++++++++##++##++++++++++#++##+#',                               
                                                             ;+'+++'''++'++++'++++#+##+++++++++#+#++++++++#+++++#+++##++++++++++#####++++`                             
                                                         ` :+'++'''++++++++++++#+++###+########+#++++#++#+++++++#+#+###++++++++++####+++#+'                            
                                                         `++++'+''++++++++++++#+#+##############+#####++++++++++#+##+####+++++++++####+++#+++                          
                                                        '+'''+''+++++++++++++###+#################+++++++++++#+#+####+####+++++++#+#####+##+#+;                        
                                                       +'+'+';'+'+++++++++#+####################+#######+++++++++++++#+#####++++++++#####+##++#+,                      
                                                     `++''';'++++++++++#+++##########################++##++++++##+######+#####++++++######+###++++`                    
                                                    .+++'+;'#++++++++++++###+#+####################++#++#+#+#################++++++++######+####+++;                   
                                                   :+++++'##+++++++++#++###############################++###+###################++#+++######+####++'+                  
                                                  :'''++++#++++#+++++++######+##########################+#####+++#########+#####++##+++++####+######++`                
                                                 ;'+++'+++++++#+++##+#+##########################################################++##++++#####+#####+##:               
                                                :'+++++++++#+++++##+#+############################################################++#####+++##++#####+#+:              
                                               .''++++++++##++##################################################################+#++######+++###+######++:             
                                               ++++++++++#++#######################+################+#####+#####+##+###############++#+###+++###+######+++`            
                                              ++++++++++###########################################+######+#####+##+################+######++####+######+++`           
                                             ++++++++++++############################################################################+#+###+######+######+++           
                                            ;+++++++++++#+##################################################++############+#++#+####++###+#+######+#######++'          
                                            +++++++++#+#+##########################################+########++#######+####+#+########+++##+#+######+#######++          
                                           ++++++++++###################################+#########+####+++#########+++###############+#############++########+         
                                          `+++++++#++#+############################################################+##################+#####################++         
                                          +++++++###++##################++++#######################++++######+#+##############++######+#####+##+#############+'        
                                         `++++++++##+#+###########################+#############+##+#########+############+###++##############################+        
                                         ++++++###+############################################+###########+#########+++######################################+,       
                                         ++++#++##########+#############+#+########+#######++########+##############++########################################++       
                                         '+++++###########+###``##################################+#++#############+###########+##############################++       
                                         ++++++#############+. `#########`;#####################++++############+##+#########+#################################+.      
                                        :+++++##############,```#########``########++########+############+####################################################+'      
                                        +'+++##############;` `.+#######.``##############################+#########+############################################+      
                                        +++#############+##.```.########` ``########################++##########################################################+      
                                        ++++###############:` `.#######:````++#####################+############################################################+      
                                       .+++##############.##````#######` ```,##################################################################################++      
                                       ;'++#############`,##```.######, ```.#########################+##########################################################+.     
                                       #'+############;.`.+#.` .######````.+###################################################################################++;     
                                       +++############.``.#++` `#####````.+##################+#################################################################++'     
                                       +++############'```;##```;###'````'###;:###############################################################################++#+     
                                       ++##############```,##```,###````:####``+##############################################################################++++     
                                       +++#############```,##```.##: ``,####````'+###########+##################################################################++     
                                       '++#############````;#'```## ``.#####  ```;##############################################################################++     
                                      `+++#############````.+#```#. ``:####`````.+##############################################################################++     
                                      ,'++#############`````:+` `'```,@####````.'###############################################################################++`    
                                      '++##############.````.+```.``.'###+.````;################################################################################++,    
                                      +'+##############``.```,,`````,#####````,##################################################################################+;    
                                      +++##############``,.```, ````+#####````+#################################################################################+++    
                                      '+###############``:#.``,````,+####: ``,###################################################################################++    
                                      ++#+#############``:#.```` ``:#####````'##################################################################################+++    
                                     `'++#############,``:##.``````######````###################################################################################+++    
                                     ,++##############` `'###`````.######```.####################################################################################++.   
                                     :+###############``.+###:.```,###### ``,####################################################################################++;   
                                     ;+++#############``.+####.` ``######```:#####################################################################################++   
                                     '++#############,``,#####;````.#####```;#####################################################################################+'   
                                     '+++############```:#####;`````.###'```+######################################################################################+   
                                     '+#+###########+ `.:#####,``.```,###```:########################################################################,..;++#######++   
                                     '+++###########```.+#####` `.````:##```'########################################################################.`'...##+####++   
                                     '++###########: ``,######```.,.```'#```:########################################################################:.###:`.'####++   
                                     '+############' ``:######```.#:.```:```.########################################################################+.#.`+,#,####++   
                                     ++#############``.'######```,##..```.``.+########################################################################`#+`+ .,+###++   
                                     ++##+##########+`,#######```,###..`````.#########################################################################`+#.+`'.,###++   
                                     +++############@.:#######```,#@##.``````;########################################################################`,#` ``:.'+#++   
                                    .++######################'```,#####.`.```.########################################################################`..`:#;:+++#++   
                                    `++######################,```.######.`````'#######################################################################.`'++```+###++   
                                    `++######################````.#######..``.########################################################################.`#;...+####+;   
                                    ,++#####################@````.+#######.`,'########################################################################+`:`,++####++:   
                                  `'++#######################:,.`.,#######+,@#######################################################@##################``;#+#####++`   
                                :++++#+################################################################################################################.'+#######++`   
                              '+'+++#############################################################################################################################++    
                           `+''+++++++############################################################@##############################################################++    
                         :+'++++++++#####################################################@#######################################################################++    
                      `'''++++++++++############################################################################################################################+++    
                    .''+++++++++++##+##########################################################################################################################+++     
                  :''++++++++++++#++###########################################################################################################################+++     
                ''+++++++++++++++++###########################################################################################################################++++     
             `'+'++'++''+++++++++##+###########################@###############################################################################################+#      
           `''''++++++++++++++++++++##########################################################################################################################++       
          +'+'++'++'+'+++++++++++++################################@##########################################################################################;        
        '++'++++++++++++++#+++++++++++#+################################################################################################################+##+,`         
      `'++++++'+++'+++++#++++++++#+++#+######################@##################################################################@######################+;::.           
     ,++++'++++++++++++++++++++++++++####+######+#################@@#@#############################################################@#@##########+:::::::,.`            
     '+++++++++++++++++++++++++++++++#+++#+++''',;;;;;;:':;'+###############@@#################################################@@@@@@@##########,,::,,.`               
    '+++++++++++++++++++++++++++++++#++,.,;.``````:.+';.``.`;;.'+###################@@@@@@##@@@@######@##@######@###############################,..`                   
    ++++++++++'+++++++++++++++#+++##....,,...`.`';.,,.:''``,.`.,;''############################################################################'                       
   ,++++++++++++++++++++++++++++#+``...``;`:':,,..,''''.:,,.:....'.'##########################################################################+                        
   :++++++++++++++++++++++++++#+,.``.` ```::,''':;::,,...```..``..';'########################################################################+                         
   ,+++++++++++++++++++++++++++:.``   ```,;'''.:;,;''':,::,..`.`.`.:'#####################################################################+++                          
    +++++++++++++++++++++++++++.`.     ` ``...,,;'''''.'''''':,,.`','######################################################################'                           
    ,+++++++++++++++++++++++++#...`    ``.,.,````..,:''''''.:;'''','+###################################################################++`                            
     .+#++++++++++++++++++++++#+`.```   ` ```.,,`..```..:,;''''':;'####################################################################+'                              
       ;+#++#+++++++++++++++++++#+`...` `..`.....```.``````.'':++######################################################################                                
         ,++######++++++++++++++++++'..``.::.```````..:;,,;'######################################################################+++`                                 
           .:+#########+##++++++++++++++#+''''''+++++##########################################################################++#+``                                  
              :,,;+#########+#++++++++++++#++##+++###+########+###############################################################+#:                                      
                 `,:,,;+##########+#++#++###+###+######++############################################################+#####++'                                         
                      ,::.,:'+###########+####+#+#######+###############################################################+':                                            
                           ,;;,.,;+###########+########+############################################################+;,`                                               
                                `:::,.:;+####+###################################################################;``                                                   
                                      `,;;:.::'+##########################################################+:,..                                                        
                                             `,;:,.,;'++############################################+;,,..`                                                            
                                                     `.,;.,;::;''+++#####################+++';;,,.`                                                                    
                                                                    ``.,,::,,,,..````                                                                                  
                                                                                                                                                                       
                                                                                                                                                                       
                                                                                                                                                                       
                                                                                                                                                                       
                                                                                                                                                                       
                                                                                                                                                                       
                                                                                                                                                                       
</pre></br></br><span>aite homie</span></center>