<span>Put some player names in, you'll need to put the tag listed on qldsmash</span></br></br>
<form action="/" method="post">
  <span>Player you're interested in:</span></br></br>
  <input type="text" name="targetPlayer" placeholder="e.g Jaice"></br></br>
  <span>Player/s you want stats against (separate names with a comma):</span></br></br>
  <input type="text" name="otherPlayers" placeholder ="e.g Jezmo, MM, Ignis"></br></br>
  <input type="submit" value ="stat me up">
</form>
