<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>qldsmash Head to Head Stats</title>
  </head>

  <body>
    <div class = "container"> <%= yield %> </div>
  </body>
</html>